In [90]:
import pandas as pd

In [91]:
flights = pd.read_csv("flights.csv")
flights.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

In [92]:
flights.isna().sum()
flights_clean = flights.dropna(axis = 0)

In [93]:
flights_clean["dep_delay"] = flights_clean["dep_delay"].apply(lambda x: max(0, x))
flights_clean["arr_delay"] = flights_clean["arr_delay"].apply(lambda x: max(0, x))

C:\Users\liuti\AppData\Local\Temp\ipykernel_28832\50000280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_clean["dep_delay"] = flights_clean["dep_delay"].apply(lambda x: max(0, x))
C:\Users\liuti\AppData\Local\Temp\ipykernel_28832\50000280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_clean["arr_delay"] = flights_clean["arr_delay"].apply(lambda x: max(0, x))

In [94]:
flights_clean

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,0.0,812.0,0.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,0.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160749,2013,9,30,2105.0,0.0,2329.0,0.0,UA,N477UA,475,EWR,IAH,175.0,1400,21.0,5.0
160750,2013,9,30,2121.0,21.0,2349.0,0.0,DL,N193DN,2363,JFK,LAX,296.0,2475,21.0,21.0
160751,2013,9,30,2140.0,0.0,10.0,0.0,AA,N335AA,185,JFK,LAX,298.0,2475,21.0,40.0
160752,2013,9,30,2149.0,0.0,2245.0,0.0,UA,N813UA,523,EWR,BOS,37.0,200,21.0,49.0
160753,2013,9,30,2233.0,80.0,112.0,42.0,UA,N578UA,471,EWR,SFO,318.0,2565,22.0,33.0

### 1. How many flights were recorded for each month in the dataset? And what is the average departure delay time for each month?
+ in the result box
+ in the result box

In [95]:
flight_monthly = flights_clean['month'].value_counts()
flight_monthly

month
8     14011
10    13700
7     13686
5     13506
3     13481
4     13442
6     13353
12    13076
11    12934
9     12784
1     12585
2     11369
Name: count, dtype: int64

In [96]:
flight_monthly_delay = flights_clean.groupby('month')['dep_delay'].mean()
flight_monthly_delay

month
1      8.776559
2      9.075380
3     12.063348
4     13.322943
5     12.333778
6     19.570434
7     19.222198
8     12.102919
9      8.920526
10     7.309489
11     7.067419
12    14.752218
Name: dep_delay, dtype: float64

### 2. Which were the top 5 most common destinations from the 'JFK' airport, based on the frequency

LAX, SFO, MIA,BOS, SJU

In [97]:
flights_FromJFK = flights_clean[flights_clean['origin'] == "JFK"]
flights_FromJFK = flights_FromJFK['dest'].value_counts()
flights_FromJFK.head()

dest
LAX    7711
SFO    5687
MIA    3285
BOS    2389
SJU    2379
Name: count, dtype: int64

### 3. Calculate the total distance traveled by each carrier. Which carrier traveled the most distance overall?
United Airlines

In [98]:
flight_distances_carrier = flights_clean.groupby('carrier')['distance'].sum()
flight_distances_carrier.sort_values(ascending=False)

carrier
UA    88482811
DL    58999610
AA    42913762
US    11121739
AS     1703018
Name: distance, dtype: int64

### 4. How much departure delay do I need to expect when I use AA in December?(based on average)
13.93

In [99]:
flights_delay = flights_clean[flights_clean['month'] == 12].groupby('carrier')['dep_delay'].mean()
print(flights_delay[flights_delay.index == "AA"])

carrier
AA    13.934155
Name: dep_delay, dtype: float64

### 5. Determine the top 5 busiest days (based on the number of flights). Report the year, month, day, and the number of flights.

In [100]:
Top5 = flights_clean.groupby(['year','month','day']).size()
Top5 = pd.DataFrame(Top5, columns= ['Number of Flights'])
Top5.reset_index(inplace=True)
Top5.sort_values(by = "Number of Flights", ascending= False).head(5)

     year  month  day  Number of Flights
226  2013      8   15                486
234  2013      8   23                483
232  2013      8   21                483
227  2013      8   16                483
167  2013      6   17                483